<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632996193115-1thgv5q0fecqhdtqqlbavphq4rf826vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632996193115-1thgv5q0fecqhdtqqlbavphq4rf826vj</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ_iYC1SDls9vpZjcAm2trJ4dWwSI8Fnc</string>
	<key>GCM_SENDER_ID</key>
	<string>632996193115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdscdut.sharinghub-dev</string>
	<key>PROJECT_ID</key>
	<string>sharinghub-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sharinghub-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632996193115:ios:8517c7d1d409b17183307e</string>
</dict>
</plist>