version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: circleci/node:16
        # If you need the Docker CLI, you can include the following line:
        # - image: docker:stable
    working_directory: ~/sharinghub
    steps:
      - add_ssh_keys:
          fingerprints:
            - '39:84:cb:5e:ca:8e:c1:71:f6:19:ad:0c:bc:0f:78:21'
      - run:
          name: Test
          command: ls -la
      # - run:
      #     name: Build packages
      #     command: cd ~/sharinghub/backend && npm install
      # - run:
      #     name: Build packages
      #     command: cd ~/sharinghub/backend && npm run build
      # - run: ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
      # - run: apt install rsync
      # - run:
      #     name: send file to server
      #     command: ls && rsync -vr --delete --progress ./backend/dist $SSH_USER@$SSH_HOST:/home/kiemtran.dev/source

# Define the workflows that will run in your pipeline
workflows:
  build-and-deploy:
    jobs:
      - build-and-deploy:
          filters:
            branches:
              only: develop # only deploy on the develop branch
